.what_client {
    background-color: rgba(245, 246, 246, 1);
    padding-bottom: 3rem;
    
    
  }
  .card_container{
    
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
    cursor: grab;
    padding-left: 3rem;

    :active{
      cursor: grabbing;
    }
  }
  .what_top {
    display: flex;
    justify-content: space-between;
    padding: 3rem 7rem;
  }
  .what_paragraph {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.02em;
  }
  .what_paragraph span {
    color: rgba(1, 163, 224, 1);
  }
  .what_buttons {
    display: flex;
    gap: 1rem;
    
  }
  .react-multiple-carousel__arrow{
    display: none;
  }

  .what_buttons button{
    border: none;
    border-radius: 42px;
  }
  .page_outof{
    
    display: flex;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
  }
  .page{
    color: rgba(1, 163, 224, 1);
  }
  @media screen and (max-width : 768px){
    .card_container{
      padding-left: 1rem;
    }
  }
  @media screen and (max-width : 451px){
    .card_container{
      padding-left: 2rem;
    }
  }